<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Image Upload</a></li>
            <li><a href="{{ url_for('show_uploaded_images') }}">Uploaded Images</a></li>
            <li><a href="{{ url_for('show_processed_images') }}">Processed Images</a></li>
        </ul>
    </nav>

    <h1>Image Upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpg, .jpeg, .gif" required>
        <button type="submit">Upload</button>
    </form>
    {% if filename %}
    <p>Uploaded: {{ filename }}</p>
    <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Uploaded Image">
    {% endif %}
</body>
</html>
