<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Image Upload</a></li>
            <li><a href="{{ url_for('show_uploaded_images') }}">Uploaded Images</a></li>
            <li><a href="{{ url_for('show_processed_images') }}">Processed Images</a></li>
        </ul>
    </nav>

    <h1>Uploaded Images</h1>
    <div class="image-gallery">
        {% for image in images %}
        <img src="{{ url_for('static', filename='uploads/' + image) }}" alt="{{ image }}">
        {% endfor %}
    </div>
</body>
</html>

